@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/typography';

.tile {
  height: 92px;
  width: 92px;
  border: 8px solid;
  display: flex;
  justify-content: center;
  align-items: center;

  &--light {
    background-color: white;
    border: 8px solid white;
  }

  &--dark {
    background-color: black;
    border: 8px solid black;
  }

  &--focus {
    border: 8px solid #ffa8b7;
  }

  &__checker {
    height: 80%;
  }
}