@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/typography';

.tile {
  height: 92px;
  width: 92px;
  border: 8px solid;

  &--light {
    background-color: white;
    border: 8px solid white;
  }

  &--dark {
    background-color: black;
    border: 8px solid black;
  }

  &--focus {
    border: 8px solid #ffa8b7;
  }
}